$color-red: #d22428;
$color-blue: #3c4f78;
$color-gray: #1d1d1b;

$font-family-serif: 'EB Garamond', Garamond, Georgia, serif;
$font-family-sans-serif: 'Barlow Condensed', Arial Narrow, Helvetica, Arial,
  sans-serif;
